// font family primaria del progetto
$montserrat: 'Montserrat', sans-serif;

// font family secondaria del progetto (attualmente inutilizzata)
$garomond: 'Cormorant Garamond', serif;

// colore primario del progetto
$primary-color: #C55530;

// colore secondario del progetto
$secondary-color: #F3D5A5;

// colore utilizzato per alcuni testi
$text-color: #FAF2DB;

// filtro nero opacizzato sopra l'immagine di background (da migliorare il funzionamento)
$wp-faded: rgba(0, 0, 0, 0.6);

// colore primario opacizzato
$primary-color-opacity: #C55530b1
