// import dei config
@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: $primary-color;
}

// immagine di sfondo
[alt=image-of-an-autumnal-leaf], [alt=immagine-di-una-foglia-autunnale]{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

// personalizzazione bootstrap nav
nav{
  background-color: $primary-color;
  div{
    a{
      font-family: $montserrat;
      font-weight: 400;
      color: $secondary-color !important;
      margin-left: 60px;
    }
  }#home-button{
    font-weight: 700;
    margin-left: 10px;
  }.navbar-nav{
    margin-left: auto;
    // margin-right: auto;
  }
}

// styling del contact form
.contact-body{
  background-color: $primary-color;
  border-radius: 20px;
}
.contact-head{
  background-color: $secondary-color;
  border-radius: 20px 20px 0 0;
}
[value=Send]{
  background-color: $secondary-color;
  color: $primary-color;
  border: 1px solid $tertiary-color;
}
[value=Invia]{
  background-color: $secondary-color;
  color: $primary-color;
  border: 1px solid $tertiary-color;
}
[value=Send]:hover{
  background-color: $tertiary-color;
  color: $primary-color;
  border: 1px solid $primary-color;
}
[value=Invia]:hover{
  background-color: $tertiary-color;
  color: $primary-color;
  border: 1px solid $primary-color;
}

// styling testi contact form
.form-title{
  color: $primary-color;
  text-shadow: 1px 1px #000;
}
.form-description{
  color: $primary-color;
}
.form-caption{
  color: $secondary-color;
  text-shadow: 1px 1px #000;
}
form label{
  font-size: 20px;
}

// hr per dividere curriculum
hr{
  border: 2px solid $secondary-color;
}

// styling social footer
.social{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.social-icon{
  margin-bottom: 5px;
}
.social-button{
  color: $primary-color;
  background-color:$secondary-color;
  border: 2px solid $primary-color;
  border-radius: 20px;
  margin: 10px 10px 20px 0;
  font-size: 0.8rem;
}
.social-button:hover{
  color: $secondary-color;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
}

// import animazione, utilities e cards
@import "cards";
@import "animation";
@import "utilities";